# Imports

In [23]:
import pandas as pd
import numpy as np
import pdb
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt
%matplotlib inline
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
import folium
from folium.plugins import HeatMap

# Mount to Google Drive

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

# Save dataset in Google Drive and search for it using the command below

In [24]:
!ls drive/My\ Drive/Save\ the\ Children/unhcr.csv

'drive/My Drive/Save the Children/unhcr.csv'

# Import dataset from the path (change depending on where it was saved) to pandas dataframe

## UNHCR Dataset (Afghanistan) (Depends on which location is being investigated)

In [4]:
import_path = 'drive/My Drive/Save the Children/unhcr.csv'
demographics_df = pd.read_csv(import_path)
demographics_df.head()

         Year Country of Origin Code  ...         Male Total                Total
0  #date+year   #country+code+origin  ...  #affected+m+total  #affected+all+total
1        2001                    AFG  ...                  0              1200000
2        2001                    AFG  ...                  0                26092
3        2001                    AFG  ...                 16                   21
4        2001                    AFG  ...                 52                   66

[5 rows x 24 columns]

In [5]:
demographics_df = demographics_df.drop(demographics_df.index[0])
demographics_df.head()

   Year Country of Origin Code  ... Male Total    Total
1  2001                    AFG  ...          0  1200000
2  2001                    AFG  ...          0    26092
3  2001                    AFG  ...         16       21
4  2001                    AFG  ...         52       66
5  2001                    AFG  ...          0        0

[5 rows x 24 columns]

In [6]:
# Cleaning data

def clean_convert_unhcr_data(col):
    '''Clean mislabeled data for demographic levels
    '''
    demographics_df[col] = demographics_df[col].fillna(0).replace('1e+05', 100000).astype(int)
columns = ['Female 0-4','Female 5-11', 'Female 12-17', 'Female 18-59', 'Female 60 or more',
       'Female Unknown', 'Female Total', 'Male 0-4', 'Male 5-11', 'Male 12-17',
       'Male 18-59', 'Male 60 or more', 'Male Unknown', 'Male Total', 'Total']
for col in columns:
    clean_convert_unhcr_data(col)
demographics_df["Year"] = pd.to_numeric(demographics_df["Year"])

In [11]:
demographics_df = demographics_df.drop(["Country of Origin Code", "Country of Asylum Code"], axis=1)
demographics_df.head()

   Year Country of Origin Name  ... Male Total    Total
1  2001            Afghanistan  ...          0  1200000
2  2001            Afghanistan  ...          0    26092
3  2001            Afghanistan  ...         16       21
4  2001            Afghanistan  ...         52       66
5  2001            Afghanistan  ...          0        0

[5 rows x 22 columns]

In [12]:
demographics_df = demographics_df.rename(columns={"Country of Origin Name": "Name"})

## IDMC Dataset

In [7]:
import_path = 'drive/My Drive/Save the Children/idmc.csv' # Path might change depending on where the dataset is saved
idmc_df = pd.read_csv(import_path)
idmc_df.head()

            ISO3  ...        Disaster Stock Displacement
0  #country+code  ...  #affected+idps+ind+stock+disaster
1            AB9  ...                                NaN
2            AB9  ...                                NaN
3            AB9  ...                                NaN
4            AB9  ...                                NaN

[5 rows x 7 columns]

In [8]:
# Data cleaning
idmc_df = idmc_df.drop(idmc_df.index[0])
idmc_df = idmc_df.fillna(0)
idmc_df[["Conflict Stock Displacement", "Conflict New Displacements", "Disaster New Displacements", "Disaster Stock Displacement"]] = idmc_df[["Conflict Stock Displacement", "Conflict New Displacements", "Disaster New Displacements", "Disaster Stock Displacement"]].apply(pd.to_numeric)

# Case study --> Afghanistan (Can be changed if investigating different location)

idmc_df_af = idmc_df[idmc_df.Name == "Afghanistan"]

In [15]:
idmc_df_af = idmc_df_af.drop(["ISO3"], axis=1)
idmc_df_af

           Name  Year  ...  Disaster New Displacements  Disaster Stock Displacement
7   Afghanistan  2008  ...                        3400                            0
8   Afghanistan  2009  ...                       28000                            0
9   Afghanistan  2010  ...                       71000                            0
10  Afghanistan  2011  ...                        3000                            0
11  Afghanistan  2012  ...                       30000                            0
12  Afghanistan  2013  ...                       15000                            0
13  Afghanistan  2014  ...                       13000                            0
14  Afghanistan  2015  ...                       71000                            0
15  Afghanistan  2016  ...                        7400                            0
16  Afghanistan  2017  ...                       27000                            0
17  Afghanistan  2018  ...                      435000                            0
18  Afghanistan  2019  ...                      117000                      1198000

[12 rows x 6 columns]

# Merge Datasets after Preprocessing

In [17]:
result = demographics_df.append(idmc_df_af, sort=False)

In [22]:
result

    Year         Name  ... Disaster New Displacements Disaster Stock Displacement
1   2001  Afghanistan  ...                        NaN                         NaN
2   2001  Afghanistan  ...                        NaN                         NaN
3   2001  Afghanistan  ...                        NaN                         NaN
4   2001  Afghanistan  ...                        NaN                         NaN
5   2001  Afghanistan  ...                        NaN                         NaN
..   ...          ...  ...                        ...                         ...
14  2015  Afghanistan  ...                    71000.0                         0.0
15  2016  Afghanistan  ...                     7400.0                         0.0
16  2017  Afghanistan  ...                    27000.0                         0.0
17  2018  Afghanistan  ...                   435000.0                         0.0
18  2019  Afghanistan  ...                   117000.0                   1198000.0

[2863 rows x 26 columns]